#title{font-size: 72px}
.box{background-color:orange}
img{width:200px;
  height:300px}
  p {
    color: green
  }
  address{color: blue}
  body{
    background-color: white;
    background-image: url(http://www.searchquotes.com/sof/images/picture_quotes/31525_20131011_183447_education01.jpg;background-repeat: no-repeat;  background-size:cover;}
